body{
    background-color: lightskyblue;
}
h1.h2{
    color: darkgrey;
}
div.body{
    text-align: center;
    
}

div.loggedIn{
    text-align: center;
}
div.mainBody{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
div.logout{
    text-align: center;
}

div.insertFail{
    text-align: center;
}